div
    div.panel.panel-default
        div.panel-heading
            div.panel-title Data providers
        div.panel-body
            button.btn.btn-default(ng-repeat="_provider in dataProvider.providers" ng-click="dataProvider.selectProvider(_provider)" ng-class="{active: provider == _provider}") {{_provider}}
    div.row
        div.col-md-3
            h3 Tables
            div
                h4 Filter text
                p
                    textarea.form-control(ng-model="tableListFilter" rows=10 ng-change="dataProvider.checkTableFilter()")
                p
                    button.btn.btn-default(ng-click="dataProvider.filterTableList()") Filter
            div.row
                div.col-md-3
                    div.input-group
                        div.input-group-btn
                            button.btn.btn-default(ng-click="dataProvider.getPreviousTables()")
                                span.glyphicon.glyphicon-chevron-left
                            button.btn.btn-default(ng-click="dataProvider.getNextTables()")
                                span.glyphicon.glyphicon-chevron-right
                div.col-md-9
                    div.input-group
                        span.input-group-addon
                            span.glyphicon.glyphicon-search
                        input.form-control(type="text" ng-model="search" ng-change="dataProvider.searchTableNames()")
            p
            p Count: {{tableListCount}} Displaying: {{tableListFrom}} - {{tableListTo}}
            p {{selectionCounter}} table selected for adding to db config
            p
                label Select All
                    input(type="checkbox" ng-model="isAllTableSelected" ng-change="dataProvider.selectAllTableChanged()")

            table.table
                tr(ng-repeat="_table in dataProvider.tableList" ng-class="{active: table == _table}")
                    td
                        input(type="checkbox" ng-model="dataProvider.tableSelection[_table]" ng-change="dataProvider.tableSelectionChanged()")
                    td(ng-click="dataProvider.selectTable(_table)") {{_table}}
            p
                button.btn.ntn-default(ng-click='dataProvider.addTablesToDBConfig()') Add
        div.col-md-6
            h3 Data
            div.data-table
                button(ng-click='dataProvider.transposeData()') transpose
                table.table.table-bordered(ng-hide='dataProvider.isHeaderColumn')
                    tr
                        th(
                            ng-repeat='_field in dataHeader'
                            ng-click="dataProvider.selectField(_field)"
                            ng-class="{active: field === _field}") {{_field}}
                    tr(ng-repeat='row in dataRows')
                        td(
                            ng-repeat="(index, _field) in row track by $index"
                            ng-click="dataProvider.selectField(dataHeader[index])"
                            ng-class="{active: field === dataHeader[index]}") {{_field}}
                table.table.table-bordered(ng-show='dataProvider.isHeaderColumn')
                    tr(
                        ng-repeat="(index, header) in dataHeader"
                        ng-click="dataProvider.selectField(header)"
                        ng-class="{active: field == header}")
                        th {{header}}
                        td(ng-repeat='row in dataRows track by $index') {{row[index]}}
        div.col-md-3
            h3 Meta data
                h4 Description
                table.table
                    tr(ng-repeat="(key, value) in metaData.Desc")
                        td {{key}}
                        td {{value}}
                h4 Comments
                div.container(ng-repeat="comment in metaData.Comments")
                    div {{comment.Text}}
                h4 Properties
                table.table
                    tr(ng-repeat="(key, value) in metaData.Properties")
                        td {{key}}
                        td {{value.Value[0]}}
