div
    div.panel.panel-default
        div.panel-heading
            div.panel-title Data providers
        div.panel-body
            button.btn.btn-default(ng-repeat="provider in dataProvider.providers" ng-click="dataProvider.selectProvider(provider)" ng-class="{active: currentProvider == provider}") {{provider}}
    div.row
        div.col-md-3(ng-controller='DBConfigController as dbConfig')
            h3 Tables
            div.input-group
                span.input-group-addon Search
                input.form-control(type="text" ng-model="dataProvider.currentSearchPattern" ng-change="dataProvider.searchTableNames()")
            ul.pager
                li.previous
                    a(ng-click="dataProvider.getPreviousTables()") &laquo;
                li.next
                    a(ng-click="dataProvider.getNextTables()") &raquo;
            table.table
                tr(ng-repeat="table in dataProvider.tableList" ng-class="{active: dataProvider.currentTable == table}")
                    td
                        input(type="checkbox" ng-model="check" ng-change="dbConfig.selectTable(table)")
                    td(ng-click="dataProvider.selectTable(table)") {{table}}
            p
                button.btn.ntn-default(ng-click='dbConfig.addTables()') Add
        div.col-md-6
            h3 Data
            div.data-table
                button(ng-click='dataProvider.transposeData()') transpose
                table.table.table-bordered(ng-hide='dataProvider.isHeaderColumn')
                    tr
                        th(
                            ng-repeat='field in dataProvider.tableData'
                            ng-click="dataProvider.selectField(field.Name)"
                            ng-class="{active: dataProvider.currentField === field.Name}") {{field.Name}}
                    tr(ng-repeat='index in dataProvider.rowIndexes')
                        td(
                            ng-repeat='field in dataProvider.tableData'
                            ng-click="dataProvider.selectField(field.Name)"
                            ng-class="{active: dataProvider.currentField === field.Name}") {{field.Data[index]}}
                table.table.table-bordered(ng-show='dataProvider.isHeaderColumn')
                    tr(
                        ng-repeat='field in dataProvider.tableData'
                        ng-click="dataProvider.selectField(field.Name)"
                        ng-class="{active: dataProvider.currentField == field.Name}")
                        th {{field.Name}}
                        td(ng-repeat='cell in field.Data track by $index') {{cell}}
        div.col-md-3
            h3 Meta data
                h4 Comments
                div.container(ng-repeat='comment in currentMeta.Comments')
                    div {{comment.Text}}
                h4 Properties
                div.container(ng-repeat='(key, value) in currentMeta.Properties')
                    span {{key}}:{{value}}
