div
    div.panel.panel-default
        div.panel-heading
            div.panel-title Data provider
        div.panel-body
            h4 Provider:
            select(
                ng-model='dataProvider.currentProvider',
                ng-options='provider for provider in dataProvider.providers',
                ng-change='dataProvider.onProviderChange()')
                option(value='') Select provider
    div.row
        div.col-lg-3
            h3 Tables
            div.list-group
                a.list-group-item(
                    ng-repeat='table in dataProvider.tableList',
                    ng-click='dataProvider.selectTable(table)'
                ) {{table}}
        div.col-lg-6
            h3 Data
            div.data-table
                table.table.table-bordered
                    tr
                        th(ng-repeat='field in dataProvider.tableMetaData.Fields') {{field.Name}}
                    tr(ng-repeat='index in dataProvider.rowIndexes')
                        td(ng-repeat='(field, dataColumn) in dataProvider.tableData') {{dataProvider.tableData[field][index]}}
        div.col-lg-3
            h3 Meta data
                h4 Properties
                div.container(ng-repeat='(key, value) in dataProvider.currentTable.Properties')
                    span {{key}}:{{value}}
                h4 Comments
                div.container(ng-repeat='comment in dataProvider.currentTable.Comments')
                    div {{comment.Text}}
